# Data Cleaning 
### Mental Health Survey Data 2016-2021

Refrence : https://www.kaggle.com/code/ldfreeman3/a-data-science-framework-to-achieve-99-accuracy

In [10]:
#installing packages for ETL processes
import pandas as pd #for manupulating dataframes for analysis
import matplotlib.pyplot as plt #for numerical analysis
import seaborn as sns #for visulaisation
import numpy as np #mathematical functions and managing large dataset
from subprocess import check_output
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.datasets import make_classification
from sklearn.preprocessing import binarize, LabelEncoder, MinMaxScaler, OneHotEncoder
from sklearn.linear_model import LinearRegression
pd.options.mode.chained_assignment = None

In [11]:
# import dataset
df = pd.read_csv("./combined_surveys_2016-2021/mental_health_data_2016-2021.csv")

In [12]:
# drop duplicate rows
arp_data = df.drop_duplicates()

In [13]:
#Viewing dataset
arp_data

,Unnamed: 0,age,sex,self-employed,working_country,living_country,mental_illness_family_history,have_mental_illness,mental_disorder_in_the_past,number_of_employees_your_company_has,mental_health_benefits_from_previous_employers,mental_illness_diagnosis,mental_health_benefits_from_current_employer,discussing_mental_health_with_coworkers,sought_mental_treatment,discussing_mental_health_with_supervisor,mental_illness_medical_coverage
0,0,39.0,Male,0,United Kingdom,United Kingdom,No,No,Yes,26-100,"No, none did",Yes,Not eligible for coverage / N/A,Maybe,0,Yes,NaN
1,1,29.0,male,0,United States of America,United States of America,Yes,Yes,Yes,6-25,"Yes, they all did",Yes,No,Maybe,1,Yes,NaN
2,2,38.0,Male,0,United Kingdom,United Kingdom,No,No,Maybe,6-25,"No, none did",No,No,Maybe,1,Maybe,NaN
3,3,43.0,male,1,United Kingdom,United Kingdom,No,Yes,Yes,NaN,Some did,Yes,NaN,NaN,1,NaN,1.0
4,4,43.0,Female,0,United States of America,United States of America,Yes,Yes,Yes,6-25,I don't know,Yes,Yes,Maybe,1,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3264,126,33.0,Male,0,Germany,Germany,I don't know,Yes,Yes,26-100,"No, none did",Yes,No,No,1,Yes,NaN
3265,127,49.0,Male,0,Portugal,Portugal,Yes,No,Possibly,100-500,"No, none did",NaN,No,Maybe,0,Maybe,NaN
3266,128,28.0,NaN,1,Switzerland,Pakistan,No,No,Don't Know,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0
3267,129,26.0,Male,1,India,India,No,Don't Know,Don't Know,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0
3268,130,38.0,male,0,Slovenia,Slovenia,No,Yes,NaN,26-100,"No, none did",No,I don't know,Maybe,1,Maybe,NaN

In [14]:
#dropping unnamed column 
arp_data.drop('Unnamed: 0', 1)

C:\Users\somathu\AppData\Local\Temp\ipykernel_19508\3662079098.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  arp_data.drop('Unnamed: 0', 1)

,age,sex,self-employed,working_country,living_country,mental_illness_family_history,have_mental_illness,mental_disorder_in_the_past,number_of_employees_your_company_has,mental_health_benefits_from_previous_employers,mental_illness_diagnosis,mental_health_benefits_from_current_employer,discussing_mental_health_with_coworkers,sought_mental_treatment,discussing_mental_health_with_supervisor,mental_illness_medical_coverage
0,39.0,Male,0,United Kingdom,United Kingdom,No,No,Yes,26-100,"No, none did",Yes,Not eligible for coverage / N/A,Maybe,0,Yes,NaN
1,29.0,male,0,United States of America,United States of America,Yes,Yes,Yes,6-25,"Yes, they all did",Yes,No,Maybe,1,Yes,NaN
2,38.0,Male,0,United Kingdom,United Kingdom,No,No,Maybe,6-25,"No, none did",No,No,Maybe,1,Maybe,NaN
3,43.0,male,1,United Kingdom,United Kingdom,No,Yes,Yes,NaN,Some did,Yes,NaN,NaN,1,NaN,1.0
4,43.0,Female,0,United States of America,United States of America,Yes,Yes,Yes,6-25,I don't know,Yes,Yes,Maybe,1,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3264,33.0,Male,0,Germany,Germany,I don't know,Yes,Yes,26-100,"No, none did",Yes,No,No,1,Yes,NaN
3265,49.0,Male,0,Portugal,Portugal,Yes,No,Possibly,100-500,"No, none did",NaN,No,Maybe,0,Maybe,NaN
3266,28.0,NaN,1,Switzerland,Pakistan,No,No,Don't Know,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0
3267,26.0,Male,1,India,India,No,Don't Know,Don't Know,NaN,NaN,NaN,NaN,NaN,0,NaN,0.0
3268,38.0,male,0,Slovenia,Slovenia,No,Yes,NaN,26-100,"No, none did",No,I don't know,Maybe,1,Maybe,NaN

In [16]:
#Distribution of the data
print(arp_data.describe())
print(arp_data.shape)

# Assign default values for each data type
defaultInt = 0
defaultString = 'NaN'
defaultFloat = 0.0

#Returns the first few rows from dataframe
arp_data.head()


#Check for missing data
total = arp_data.isnull().sum().sort_values(ascending=False)
percent = (arp_data.isnull().sum()/arp_data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)
print(missing_data)

#overview of dataset
print(arp_data.info())

'''
#correlation matrix
corrmat =arp_data.corr()
f, ax = plt.subplots(figsize=(12, 9))
sns.heatmap(corrmat, vmax=.8, square=True);
plt.show()
'''
'''
#MH6 correlation matrix
k = 10 #number of variables for heatmap
cols = corrmat.nlargest(k, 'MH6')['MH6'].index
cm = np.corrcoef(arp_data[cols].values.T)
sns.set(font_scale=1.25)
hm = sns.heatmap(cm, cbar=True, annot=True, square=True, fmt='.2f', annot_kws={'size': 10}, yticklabels=cols.values, xticklabels=cols.values)
plt.show()
'''

        Unnamed: 0          age  self-employed  sought_mental_treatment
count  3269.000000  3267.000000    3269.000000              3269.000000
mean    454.131233    34.580961       0.167024                 0.587641
std     387.473648    10.441880       0.373054                 0.492334
min       0.000000     0.000000       0.000000                 0.000000
25%     137.000000    28.000000       0.000000                 0.000000
50%     330.000000    33.000000       0.000000                 1.000000
75%     685.000000    39.000000       0.000000                 1.000000
max    1432.000000   323.000000       1.000000                 1.000000
(3269, 17)
                                                Total   Percent
mental_illness_medical_coverage                  2723  0.832976
mental_illness_diagnosis                         1080  0.330376
number_of_employees_your_company_has              546  0.167024
discussing_mental_health_with_supervisor          546  0.167024
discussing_mental_health_with_coworkers           546  0.167024
mental_health_benefits_from_current_employer      546  0.167024
mental_health_benefits_from_previous_employers    459  0.140410
sex                                                28  0.008565
mental_disorder_in_the_past                        23  0.007036
age                                                 2  0.000612
living_country                                      2  0.000612
working_country                                     2  0.000612
have_mental_illness                                 0  0.000000
mental_illness_family_history                       0  0.000000
sought_mental_treatment                             0  0.000000
self-employed                                       0  0.000000
Unnamed: 0                                          0  0.000000
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3269 entries, 0 to 3268
Data columns (total 17 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Unnamed: 0                                      3269 non-null   int64
 1   age                                             3267 non-null   float64
 2   sex                                             3241 non-null   object
 3   self-employed                                   3269 non-null   int64
 4   working_country                                 3267 non-null   object
 5   living_country                                  3267 non-null   object
 6   mental_illness_family_history                   3269 non-null   object
 7   have_mental_illness                             3269 non-null   object
 8   mental_disorder_in_the_past                     3246 non-null   object
 9   number_of_employees_your_company_has            2723 non-null   object
 10  mental_health_benefits_from_previous_employers  2810 non-null   object
 11  mental_illness_diagnosis                        2189 non-null   object
 12  mental_health_benefits_from_current_employer    2723 non-null   object
 13  discussing_mental_health_with_coworkers         2723 non-null   object
 14  sought_mental_treatment                         3269 non-null   int64
 15  discussing_mental_health_with_supervisor        2723 non-null   object
 16  mental_illness_medical_coverage                 546 non-null    object
dtypes: float64(1), int64(3), object(13)
memory usage: 459.7+ KB
None

"\n#MH6 correlation matrix\nk = 10 #number of variables for heatmap\ncols = corrmat.nlargest(k, 'MH6')['MH6'].index\ncm = np.corrcoef(arp_data[cols].values.T)\nsns.set(font_scale=1.25)\nhm = sns.heatmap(cm, cbar=True, annot=True, square=True, fmt='.2f', annot_kws={'size': 10}, yticklabels=cols.values, xticklabels=cols.values)\nplt.show()\n"

In [17]:
#checking for missing data
arp_data.isna().sum()

Unnamed: 0                                           0
age                                                  2
sex                                                 28
self-employed                                        0
working_country                                      2
living_country                                       2
mental_illness_family_history                        0
have_mental_illness                                  0
mental_disorder_in_the_past                         23
number_of_employees_your_company_has               546
mental_health_benefits_from_previous_employers     459
mental_illness_diagnosis                          1080
mental_health_benefits_from_current_employer       546
discussing_mental_health_with_coworkers            546
sought_mental_treatment                              0
discussing_mental_health_with_supervisor           546
mental_illness_medical_coverage                   2723
dtype: int64

In [38]:
arp_data

,Unnamed: 0,Age,Sex,Have_mental_illness,Mental_illness_diagnosis,Sought_mental_treatment,Mental_illness_family_history,Mental_disorder_in_the_past
0,0,39.0,Male,No,Yes,0,No,Yes
1,1,29.0,male,Yes,Yes,1,Yes,Yes
2,2,38.0,Male,No,No,1,No,Maybe
3,3,43.0,male,Yes,Yes,1,No,Yes
4,4,43.0,Female,Yes,Yes,1,Yes,Yes
...,...,...,...,...,...,...,...,...
3264,126,33.0,Male,Yes,Yes,1,I don't know,Yes
3265,127,49.0,Male,No,NaN,0,Yes,Possibly
3266,128,28.0,NaN,No,NaN,0,No,Don't Know
3267,129,26.0,Male,Don't Know,NaN,0,No,Don't Know
3268,130,38.0,male,Yes,No,1,No,NaN

In [39]:
# Assign default values for each data type
defaultInt = 0
defaultString = 'NaN'
defaultFloat = 0.0

# Create lists by data type
intFeatures = ['age', 'sought_mental_treatment', 'self-employed', 'mental_illness_medical_coverage']
stringFeatures = ['sex', 'have_mental_illness', 'mental_illness_diagnosis', 'mental_disorder_in_the_past', 'working_country', 'living_country', 'mental_illness_family_history', 'number_of_employees_your_company_has', 'mental_health_benefits_from_previous_employers', 'mental_health_benefits_from_current_employer', 'discussing_mental_health_with_coworkers', 'discussing_mental_health_with_supervisor']
floatFeatures = ['age']

In [40]:
# Clean the NaN's
for feature in arp_data:
    if feature in intFeatures:
        arp_data[feature] = arp_data[feature].fillna(defaultInt)
    elif feature in stringFeatures:
        arp_data[feature] = arp_data[feature].fillna(defaultString)
    elif feature in floatFeatures:
        arp_data[feature] = arp_data[feature].fillna(defaultFloat)
    else:
        print('Error: %s not recognized.' % feature)
arp_data.head()

Error: Unnamed: 0 not recognized.

,Unnamed: 0,Age,Sex,Have_mental_illness,Mental_illness_diagnosis,Sought_mental_treatment,Mental_illness_family_history,Mental_disorder_in_the_past
0,0,39.0,Male,No,Yes,0,No,Yes
1,1,29.0,male,Yes,Yes,1,Yes,Yes
2,2,38.0,Male,No,No,1,No,Maybe
3,3,43.0,male,Yes,Yes,1,No,Yes
4,4,43.0,Female,Yes,Yes,1,Yes,Yes

In [41]:
#normalizing 'gender' values
gender = arp_data['sex'].str.lower()
print(gender)

#Select unique values
gender = arp_data['sex'].unique()

#grouping
male_str = ["male", "m", "male-ish", "maile", "mal", "male (cis)", "make", "male ", "man","msle", "mail", "malr","cis man", "Cis Male", "cis male", "male.", "sex is male", "dude", 
"i'm a man why didn't you make this a drop down question. you should of asked sex? and I would of answered yes please. seriously how much text can this take? ", "m|", 
"male (hey this is the tech industry you're talking about)","ostensibly male", 'male, born with xy chromosoms','malel','let\'s keep it simple and say "male"', 'identify as male',
'masculine','i have a penis', 'masculino']
trans_str = ["trans-female", "something kinda male?", "queer/she/they", "non-binary","nah", "all", "enby", "fluid", "genderqueer", "androgyne", "agender", "male leaning androgynous", 
"guy (-ish) ^_^", "trans woman", "neuter", "female (trans)", "queer", "ostensibly male, unsure what that really means", "bigender", "trans", "transitioned, m2f", "genderfluid (born female)", 
"other/transfeminine", "androgynous", "male 9:1 female, roughly", "other", "nb masculine", "cisgender female", "none of your business", "human", "genderfluid", "genderqueer woman", "mtf", 
"male/genderqueer", "nonbinary", "unicorn", "male (trans, ftm)", 'cis-woman', 'cisdude', 'genderflux demi-girl', 'female-bodied; no feelings about gender','afab', 'transgender woman', 
'cis-male', 'male/androgynous ','cis hetero male', 'uhhhhhhhhh fem genderqueer?', 'god king of the valajar', 'cis-male','male, cis', 'cis male ', 'agender/genderfluid', 'sometimes',
'female (cisgender)', 'female (cis) ', 'contextual', 'non binary', 'genderqueer demigirl', 'genderqueer/non-binary', 'cis-female', 'nonbinary', 'f, cisgender', 'female-ish', '\\-', 
'transfeminine', 'none','male (or female, or both)', 'trans man', 'transgender','non binary', 'female/gender non-binary.', 'cis woman','female (cisgender)', 'cis-female', 'cisgendered woman',
'genderfluid', 'demiguy', 'none', 'trans female', 'cisgender male','she/her/they/them', 'swm', 'cisgender female', 'nb','nonbinary/femme', 'gender non-conforming woman', 'cishet male', 
'female-identified', 'questioning','rr', 'cis woman', 'agender trans woman','femmina', '43','i am a wookie','trans non-binary/genderfluid', 'non-binary and gender fluid', 'mostly male', 
'cisgender male','afab non-binary', 'b', 'male/he/him', 'homem cis', 'cis-het male','non-binary/agender']   
female_str = ["cis female", "f", "female", "woman",  "femake", "female ","cis-female/femme", "female (cis)", "femail", "i identify as female.", "female assigned at birth ", "fm", 
"female or multi-gender femme", "female/woman", "fem", "female (props for making this a freeform field, though)", " female", 'femalw', 'my sex is female.', 'woman-identified', 
'i identify as female','shrug emoji (f)','femile', 'female, she/her']

for (row, col) in arp_data.iterrows():

    if str.lower(col.sex) in male_str:
        arp_data['sex'].replace(to_replace=col.sex, value='male', inplace=True)

    if str.lower(col.sex) in female_str:
        arp_data['sex'].replace(to_replace=col.sex, value='female', inplace=True)

    if str.lower(col.sex) in trans_str:
        arp_data['sex'].replace(to_replace=col.sex, value='trans', inplace=True)

#getting unique values
stk_list = ['A little about you', 'p']
arp_data = arp_data[~arp_data['sex'].isin(stk_list)]
arp_data['sex'].unique()

0         male
1         male
2        male
3         male
4       female
         ...
3264      male
3265      male
3266       nan
3267      male
3268      male
Name: Sex, Length: 3265, dtype: object

array(['male', 'female', 'I identify as female.', 'Bigender', 'trans',
       'Female assigned at birth ', 'fm', 'Cis female ',
       'Transitioned, M2F', 'Genderfluid (born female)',
       'Other/Transfeminine', 'Female or Multi-Gender Femme',
       'female/woman', 'Male.', 'Androgynous', 'male 9:1 female, roughly',
       'NaN', 'Other', 'nb masculine', 'Cisgender Female', 'Sex is male',
       'none of your business', 'Human', 'Genderfluid',
       'genderqueer woman', 'mtf', 'Dude',
       "I'm a man why didn't you make this a drop down question. You should of asked sex? And I would of answered yes please. Seriously how much text can this take? ",
       'M|', 'Male/genderqueer', 'fem', 'Nonbinary', 'human',
       'Female (props for making this a freeform field, though)',
       ' Female', 'Unicorn', 'Male (trans, FtM)', 'Cis-woman', 'cisdude',
       'Genderflux demi-girl', 'female-bodied; no feelings about gender',
       'AFAB', 'Transgender woman', 'cis-male', 'male/androgynous ',
       'cis hetero male', 'femalw', 'uhhhhhhhhh fem genderqueer?',
       "male (hey this is the tech industry you're talking about)",
       'God King of the Valajar', 'My sex is female.', 'Cis-male',
       'Male, cis', 'cis male ', 'Agender/genderfluid', 'sometimes',
       'female (cisgender)', 'Female (cis) ', 'Woman-identified',
       'Contextual', 'Non binary', 'Genderqueer demigirl',
       'Genderqueer/non-binary', 'cis-Female', 'nonbinary',
       'F, cisgender', 'Female-ish', '\\-', 'Transfeminine', 'None',
       'dude', 'Ostensibly Male', 'male, born with xy chromosoms',
       'Malel', 'I identify as female', '*shrug emoji* (F)',
       'Male (or female, or both)', 'Trans man', 'transgender',
       'non binary', 'Female/gender non-binary.', 'Cis woman',
       'Female (cisgender)', 'Cis-Female', 'Cisgendered woman',
       'genderfluid', 'Demiguy', 'none', 'Trans female', 'Cisgender male',
       'She/her/they/them', 'SWM', 'cisgender female', 'NB',
       'Nonbinary/femme', 'gender non-conforming woman',
       'Let\'s keep it simple and say "male"', 'Identify as male',
       'Masculine', 'Cishet male', 'Female-identified', 'Questioning',
       'I have a penis', 'rr', 'cis woman', 'Agender trans woman',
       'femmina', '43', 'masculino', 'I am a Wookie',
       'Trans non-binary/genderfluid', 'Non-binary and gender fluid',
       'Femile', 'female, she/her', 'mostly male', 'cisgender male',
       'afab non-binary', 'b', 'male/he/him', 'homem cis', 'cis-het male',
       'Non-binary/Agender'], dtype=object)

In [42]:
#filling missing values in Age column by taking median
arp_data['age'].fillna(arp_data['age'].median(), inplace = True)

# Fill with median() values < 18 and > 120
s = pd.Series(arp_data['age'])
s[s<18] = arp_data['age'].median()
arp_data['age'] = s
s = pd.Series(arp_data['age'])
s[s>120] = arp_data['age'].median()
arp_data['age'] = s

#Age groups
arp_data['age_range'] = pd.cut(arp_data['age'], [0,20,30,65,100], labels=["0-20", "21-30", "31-65", "66-100"], include_lowest=True)

In [43]:
#Encoding data
labelDict = {}
oneHotEncodedDict = {}
oneHotEncodeNeededColumns = ['sought_mental_treatment', 'mental_illness_medical_coverage', 'mental_illness_diagnosis', 'mental_health_benefits_from_previous_employers', 'mental_health_benefits_from_current_employer', 'discussing_mental_health_with_coworkers', 'discussing_mental_health_with_supervisor']

for feature in arp_data:
    le = preprocessing.LabelEncoder()
    le.fit(arp_data[feature])
    le_name_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
    arp_data[feature] = le.transform(arp_data[feature])
    # Get labels
    labelKey = 'label_' + feature
    labelValue = [*le_name_mapping]
    labelDict[labelKey] =labelValue
    if feature in oneHotEncodeNeededColumns:
        oneHotEncodedDict[feature] = pd.get_dummies(arp_data[feature]).values
for key, value in labelDict.items():     
    print(key, value)
print(oneHotEncodedDict)

#Get rid of 'Country'
#arp_data = arp_data.drop(['Country'], axis= 1)
arp_data

label_Unnamed: 0 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428, 1429, 1430, 1431, 1432]
label_Age [18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 70.0, 74.0, 99.0]
label_Sex [' Female', '*shrug emoji* (F)', '43', 'AFAB', 'Agender trans woman', 'Agender/genderfluid', 'Androgynous', 'Bigender', 'Cis female ', 'Cis woman', 'Cis-Female', 'Cis-male', 'Cis-woman', 'Cisgender Female', 'Cisgender male', 'Cisgendered woman', 'Cishet male', 'Contextual', 'Demiguy', 'Dude', 'F, cisgender', 'Female (cis) ', 'Female (cisgender)', 'Female (props for making this a freeform field, though)', 'Female assigned at birth ', 'Female or Multi-Gender Femme', 'Female-identified', 'Female-ish', 'Female/gender non-binary.', 'Femile', 'Genderfluid', 'Genderfluid (born female)', 'Genderflux demi-girl', 'Genderqueer demigirl', 'Genderqueer/non-binary', 'God King of the Valajar', 'Human', 'I am a Wookie', 'I have a penis', 'I identify as female', 'I identify as female.', "I'm a man why didn't you make this a drop down question. You should of asked sex? And I would of answered yes please. Seriously how much text can this take? ", 'Identify as male', 'Let\'s keep it simple and say "male"', 'Male (or female, or both)', 'Male (trans, FtM)', 'Male, cis', 'Male.', 'Male/genderqueer', 'Malel', 'Masculine', 'My sex is female.', 'M|', 'NB', 'NaN', 'Non binary', 'Non-binary and gender fluid', 'Non-binary/Agender', 'Nonbinary', 'Nonbinary/femme', 'None', 'Ostensibly Male', 'Other', 'Other/Transfeminine', 'Questioning', 'SWM', 'Sex is male', 'She/her/they/them', 'Trans female', 'Trans man', 'Trans non-binary/genderfluid', 'Transfeminine', 'Transgender woman', 'Transitioned, M2F', 'Unicorn', 'Woman-identified', '\\-', 'afab non-binary', 'b', 'cis hetero male', 'cis male ', 'cis woman', 'cis-Female', 'cis-het male', 'cis-male', 'cisdude', 'cisgender female', 'cisgender male', 'dude', 'fem', 'female', 'female (cisgender)', 'female, she/her', 'female-bodied; no feelings about gender', 'female/woman', 'femalw', 'femmina', 'fm', 'gender non-conforming woman', 'genderfluid', 'genderqueer woman', 'homem cis', 'human', 'male', "male (hey this is the tech industry you're talking about)", 'male 9:1 female, roughly', 'male, born with xy chromosoms', 'male/androgynous ', 'male/he/him', 'masculino', 'mostly male', 'mtf', 'nb masculine', 'non binary', 'nonbinary', 'none', 'none of your business', 'rr', 'sometimes', 'trans', 'transgender', 'uhhhhhhhhh fem genderqueer?']
label_Have_mental_illness ["Don't Know", 'Maybe', 'No', 'Possibly', 'Yes']
label_Mental_illness_diagnosis ['NaN', 'No', 'Yes']
label_Sought_mental_treatment [0, 1]
label_Mental_illness_family_history ["I don't know", 'No', 'Yes']
label_Mental_disorder_in_the_past ["Don't Know", 'Maybe', 'NaN', 'No', 'Possibly', 'Yes']
label_age_range ['0-20', '21-30', '31-65', '66-100']

,Unnamed: 0,Age,Sex,Have_mental_illness,Mental_illness_diagnosis,Sought_mental_treatment,Mental_illness_family_history,Mental_disorder_in_the_past,age_range
0,0,21,103,2,2,0,1,5,2
1,1,11,103,4,2,1,2,5,1
2,2,20,103,2,1,1,1,1,2
3,3,25,103,4,2,1,1,5,2
4,4,25,90,4,2,1,2,5,2
...,...,...,...,...,...,...,...,...,...
3264,126,15,103,4,2,1,0,5,2
3265,127,31,103,2,0,0,2,4,2
3266,128,10,54,2,0,0,1,0,1
3267,129,8,103,0,0,0,1,0,1
3268,130,20,103,4,1,1,1,2,2

In [44]:
#checking for null values
total = arp_data.isnull().sum().sort_values(ascending=False)
percent = (arp_data.isnull().sum()/arp_data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)
print(missing_data)

                               Total  Percent
Unnamed: 0                         0      0.0
Age                                0      0.0
Sex                                0      0.0
Have_mental_illness                0      0.0
Mental_illness_diagnosis           0      0.0
Sought_mental_treatment            0      0.0
Mental_illness_family_history      0      0.0
Mental_disorder_in_the_past        0      0.0
age_range                          0      0.0

In [45]:
arp_data.isna().sum()

Unnamed: 0                       0
Age                              0
Sex                              0
Have_mental_illness              0
Mental_illness_diagnosis         0
Sought_mental_treatment          0
Mental_illness_family_history    0
Mental_disorder_in_the_past      0
age_range                        0
dtype: int64

In [50]:
arp_data

,Unnamed: 0,Age,Sex,Have_mental_illness,Mental_illness_diagnosis,Sought_mental_treatment,Mental_illness_family_history,Mental_disorder_in_the_past,age_range
0,0,21,103,2,2,0,1,5,2
1,1,11,103,4,2,1,2,5,1
2,2,20,103,2,1,1,1,1,2
3,3,25,103,4,2,1,1,5,2
4,4,25,90,4,2,1,2,5,2
...,...,...,...,...,...,...,...,...,...
3264,126,15,103,4,2,1,0,5,2
3265,127,31,103,2,0,0,2,4,2
3266,128,10,54,2,0,0,1,0,1
3267,129,8,103,0,0,0,1,0,1
3268,130,20,103,4,1,1,1,2,2

In [47]:
arp_data['sought_mental_treatment'].value_counts()

1    1917
0    1348
Name: Sought_mental_treatment, dtype: int64

In [54]:
# Drop 'dont know' and 'NAN' values from each column
#arp_data = arp_data[arp_data['Mental_disorder_in_the_past'] != 0]
#arp_data = arp_data[arp_data['Mental_disorder_in_the_past'] != 2]
#arp_data = arp_data[arp_data['Mental_illness_diagnosis'] != 0]
#arp_data = arp_data[arp_data['Sought_mental_treatment'] != 0]
#arp_data = arp_data[arp_data['Mental_illness_family_history'] != 0]
arp_data = arp_data[arp_data['have_mental_illness'] != 0]
arp_data = arp_data[arp_data['have_mental_illness'] != 1]
arp_data = arp_data[arp_data['have_mental_illness'] != 3]

In [55]:
print(arp_data['mental_illness_family_history'].value_counts())
print(arp_data['sought_mental_treatment'].value_counts())
print(arp_data['have_mental_illness'].value_counts())
print(arp_data['mental_disorder_in_the_past'].value_counts())
print(arp_data['mental_illness_diagnosis'].value_counts())

2    1159
1     820
0     425
Name: Mental_illness_family_history, dtype: int64
1    1507
0     897
Name: Sought_mental_treatment, dtype: int64
4    1327
2    1077
Name: Have_mental_illness, dtype: int64
5    1283
3     819
4     153
1      91
0      35
2      23
Name: Mental_disorder_in_the_past, dtype: int64
2    1321
0     546
1     537
Name: Mental_illness_diagnosis, dtype: int64

In [56]:
# save cleaned data to csv
arp_data.to_csv("./cleaned_data/mental_health_data_2016-2021_ready_for_ML.csv")